/* Page display */

.content {
    margin: 40px;
}

.infos {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    margin-top: 50px;
    gap: 50px;
}

article {
    flex: 1; /* takes remaining space of section "infos" */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    gap: 12px;
}

/* Book display */

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book * {
    width: 10em;
}

.book p {
    text-align: center;
}

/* Boutons specifications */

.btn-secondary {
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 30px;
}

@media screen and (max-width: 768px) {
    .infos {
        flex-direction: column;
    }
}