@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800;1000&display=swap");
@import url("./login.css");

:root {
  --primary-light: #abc4f0;
  --primary: #538aec;
  --primary-hover: #2b70e9;
  --text: black;
  --border: rgb(233, 233, 233);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", "Arial", sans-serif;
}

body {
  margin: 0;
}

body,main{
  min-height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
}

.page-container{
  flex: 1;
}

/* ==========HEADER=========== */

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

.homepage-link,
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-menu.right-part {
  gap: 20px;
}

.header-menu a {
  text-decoration: none;
  color: var(--text);
}

.header-menu .btn {
  cursor: pointer;
  font-weight: 400;
}

.header-menu .login {
  background-color: var(--primary);
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  position: relative;
}

.header-menu .login:after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.292);
  top: 0;
  left: 0;
  transition: all 0.1s ease;
}

.header-menu .login:hover:after {
  opacity: 1;
}

.login a {
  color: white;
}

/* ========== HERO =========== */

.hero {
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.hero .feature-image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 450px;
}

.search-bar {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: white;
  border: 20px;
  height: 60px;
  width: 70%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 130px 80px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.436);
}

.search-bar button[type="submit"] {
  background-color: var(--primary);
  height: 100%;
  border: none;
  font-weight: 800;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button[type="submit"] .loop {
  height: 40px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
}

.search-bar input[type="text"] {
  border-left: 1px solid var(--border);
}

.search-bar select {
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  padding: 0 10px;
  margin-right: 15px;
  opacity: 0.6;
  transition: all 0.2s ease;
}

.search-bar select:hover,
.search-bar select:focus {
  opacity: 0.8;
}

.hero .advantages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.hero .advantages .card {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

.footer {
  background-color: var(--primary-light);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
